:root {
  --bg-page: #222;
  --bg-app: linear-gradient(135deg, #00feba, #5b548a);
  --white: #fff;
  --gray-light: #ebfffc;
  --color-input: #555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 80vh;
  font-family: 'Roboto', sans-serif;
  background: var(--bg-page);
}

img {
  width: 100px;
  height: 100px;
}
